p {
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-weight: 500;
  font-size: 24px;
}

.panel-body {
  min-width: 300px;
  max-width: 360px;
  margin: 0 auto;
}

.panel-body-devise {
  min-width: 300px;
  max-width: 360px;
}

.search-form {
  border: 2px solid #abacad;
}

.root-link {
  text-decoration: none;
  color: black;
}

.root-link:hover {
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: 700;
  font-size: 26px;
}

.btn-sign-in {
  color: #007bff;
  background-color: #f7e4c6;
  border-color: #007bff;
}

.btn-sign-inhover {
  color: #007bff;
}


// Список пользователей (таблица)

.thead-blue {
  color: #fff;
  background-color: #007bff;
}

.new-record {
  color: #007bff;
}

.new-record:hover {
  color: #007bff;
}

.user-actions {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0
}

.user-action {
  margin-bottom: 5px;
  list-style-type: none;
}

.user-edit {
  color: #007bff;
  font-size: 16px;
  border-bottom: 1px #007bff dashed;
}

.user-edit:hover {
  color: #007bff;
  border-bottom: 1px #007bff dashed;
  text-decoration: none;
}

.user-delete {
  color: red;
  font-size: 16px;
  border-bottom: 1px red dashed;
}

.user-delete:hover {
  color: red;
  border-bottom: 1px red dashed;
  text-decoration: none;
}

.btn-create-user {
  color: #007bff;
  background-color: #fff;
  border-color: #007bff;
}

.btn-create-user:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}